#__next {
  background: #080C10;
}

.janus-header {
  background: #080C10;
  border-bottom: 1px solid #34434F;
  padding-top: 20px !important;
  padding-bottom: 20px !important;

  .header-logo {
    img {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .header-nav {
    flex-grow: 1;
    padding-left: 40px;

    .nav-item {
      a {
        font-family: "SF Pro Display", sans-serif;
        color: #ffffff;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        display: inline-block;
        padding: 5px 16px;

        &:hover {
          cursor: pointer;
          color: #00FFA3;
        }
      }
    }

    .nav-item.active {
      a {
        color: #00FFA3 !important;
      }
    }
  }

  .header-search {
    .ant-input-affix-wrapper {
      background: #333639;
      border-radius: 20px;
      border: none;
      padding: 8px 15px;
      height: 44px;
      line-height: 44px;

      &:focus {
        border: none;
        box-shadow: none;
      }

      input {
        background: none;
        font-family: "SF Pro Display";
        color: #ffffff;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
      }

      .ant-input-prefix {
        svg {
          font-size: 14px;
          color: #ffffff;
        }
      }
    }
  }

  .header-button {
    .wallet-adapter-button {
      height: 44px;
      line-height: 44px;
      padding: 0 20px;
      border-radius: 25px;
      background: rgba(0, 255, 163, 0.16);
      color: #00FFA3;
      font-size: 14px;
      font-weight: 600;
      transition: all 0.3s ease 0s;

      &:hover {
        color: #ffffff;
        background: darken(#00FFA3, 10%);
      }
    }
  }

  //.IconMenu, .IconSearch {
  //  display: none;
  //}


  .IconSearch {
    width: 40px;
    height: 40px;
    background-color: #333639;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //@media (min-width: 768px) {
  //  .IconMenu, .IconSearch {
  //    display: none;
  //  }
  //}
}

.banner {
  .powered {
    align-content: center;
    opacity: 0.64;

    span {
      font-family: "SF Pro Display";
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  .banner-title {
    font-family: "SF Pro Display";
    line-height: 44px;
    color: #00FFA3;
  }

  .banner-description {
    font-family: "SF Pro Display";
    color: #ffffff;
  }
}

.banner-feature {
  .banner-feature-item {
    border: 1px solid rgba(255, 255, 255, 0.64);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.05);

    .feature-item-box {
      .feature-title {
        font-family: "SF Pro Display";
        font-weight: 600;
        color: #ffffff;
      }

      .feature-subtitle {
        font-family: "SF Pro Display";
        font-weight: 500;
        color: #ffffff;
      }

      .feature-description {
        font-family: "SF Pro Display";
        font-weight: 500;
        color: #ffffff;
      }
    }

    &.lend {
      border: 1px solid rgba(220, 31, 255, 0.64);
      background: rgba(220, 31, 255, 0.05);

      .feature-item-box {
        .feature-title {
          color: #DC1FFF;
        }
      }
    }

    &.x-farm {
      border: 1px solid rgba(0, 255, 163, 0.64);
      background: rgba(0, 255, 163, 0.05);

      .feature-item-box {
        .feature-title {
          color: #00FFA3;
        }
      }
    }
  }
}

.tokens {
  .token-title {
    font-family: "SF Pro Display";
    font-weight: 600;
    color: #ffffff;
  }

  .view-all {
    padding-top: 6px;

    a {
      font-family: "SF Pro Display";
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      color: #27BA77;
      text-decoration: underline;

      svg {
        margin-left: 4px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
      }

      &:hover {
        cursor: pointer;

        svg {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.solana-token-item {
  background: #232D36;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  border: none;
  color: #ffffff;
  transition: all 0.3s ease 0s;

  .solana-token-item-header {
    .card-element {
      flex-direction: column;
      align-items: center;

      .token-logo {
        margin-bottom: 10px;
        width: 64px;
        height: 64px;

        img {
          width: 64px;
          height: 64px;
        }
      }

      .token-content {
        text-align: center;

        .token-name {
          font-family: "SF Pro Display";
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          color: #ffffff;
        }
      }

      .token-tags {
        font-family: "SF Pro Display";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #D8DBDE;
        min-height: 24px;
      }
    }
  }

  .solana-token-item-footer {
    position: relative;
    bottom: auto;
    padding: 0;

    .price {
      font-family: "SF Pro Display";
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: #ffffff;
    }
  }

  &:hover {
    //border: 1px solid rgba(0, 255, 163, 0.64);
    background: rgba(0, 255, 163, 0.2);
  }

  .wishlist-button {
    background: #00FFA3;
    color: #ffffff;
  }
}

.janus-footer {
  position: absolute;
  bottom: 0;
  background: #080C10;
  border-top: 1px solid #34434F;
  padding: 23px 0px;

  .social {
    img {
      color: #00FFA3;
    }
  }
}

.DrawerMobileMenu {
  .ant-drawer-content, .ant-drawer-header {
    background-color: #080C10;
    color: #fff;
  }

  .ant-drawer-mask {
    background-color: rgba(255, 255, 255, .45);
  }

  .wallet-adapter-button {
    padding: 0 64px !important;
    margin-top: 90px;
    height: 44px;
    line-height: 44px;
    border-radius: 25px;
    background: rgba(0, 255, 163, 0.16);
    color: #00FFA3;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #ffffff;
      background: darken(#00FFA3, 10%) !important;
    }
  }

  .wallet-adapter-button {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    border-radius: 25px;
    background: rgba(0, 255, 163, 0.16);
    color: #00FFA3;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease 0s;
  }
}

.ModalGlobalSearch {
  .ant-modal-close-x {
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }
}