.portfolio {
  .ant-select{
    .ant-select-selector {
      background-color: #1A242E !important;
      border-color: transparent !important;
      color: white !important;
    }
    .ant-select-arrow {
      color: #FFFFFF !important;
    }
  }
}